.page-custom {
  text-align: center;
  padding: 1.5% 0 2.5%; }
  .page-custom ul li {
    display: inline-block;
    margin: 3px;
    cursor: pointer; }
    .page-custom ul li span {
      padding: 3px 7px;
      border: 1px solid #999;
      color: #1db3ff;
      border-radius: 3px; }
      .page-custom ul li span.none-border {
        color: black;
        border: none; }
      .page-custom ul li span.active {
        color: black;
        border: none; }
