/*************************************
*    create by xiaofeng.yao
*    email 871213171@qq.com
*    time 2017.08.29
*    component home
*    path /Users/apple/qishon/qishon3.0/src/view/index/index.scss
*************************************/
.qsIndex .project {
  width: 100%;
  background-color: #fafafa;
  padding: 40px 0; }
  .qsIndex .project .system {
    background-color: #ffffff;
    text-align: center;
    height: 221px;
    border: 1px solid #eeeeee;
    position: relative; }
    .qsIndex .project .system .projectName {
      font-size: 1.5rem;
      line-height: 3.5rem;
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%; }
    .qsIndex .project .system .projectDesc {
      font-size: 1rem;
      position: absolute;
      top: 4.3rem;
      z-index: 2;
      width: 100%; }
    .qsIndex .project .system img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1rem;
      margin: auto; }
    .qsIndex .project .system:nth-child(3) img {
      bottom: 0; }
